<div class="col-md-20 service-panel">
	<div class="panel panel-info">
		<header class="panel-heading">
			<h4 class="panel-title text-center">
				<%= service.name %>
			</h4>
		</header>
		<div class="panel-body">
			<h3 class="text-center text-muted service-panel-price">
				<small>Starting At</small><br>
				<%= number_to_currency service.price %>
			</h3>
		</div>

		<table class="table table-condensed text-center small">
			<tbody>
				<%= render service.items.limit(4) %>
				<tr><td class="text-danger">And Much More!</td></tr>
			</tbody>
		</table>

		<footer class="panel-footer">
			<%= link_to 'Learn More', service, data: { toggle: :modal, target: '#defaultModal' }, class: 'btn btn-primary btn-block' %>
		</footer>
	</div>
</div>
