<div class="modal-dialog" role="document">
	<div class="modal-content">

		<header class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-center">Call or Request an Appointment</h4>
		</header>

		<% @submit_btn = 'Request this Time' %>
		<%= render 'form' %>

	</div>
</div>
