<header class="page-header">
	<%= link_to 'New Item', new_portfolio_item_path, class: 'pull-right' if is_admin? %>
	<h1 class="text-center">Portfolio</h1>
</header>

<p id="notice"><%= notice %></p>

<div class="row">
	<%= render @portfolio_items %>
</div>
